body {
    background: white;
    color: black;
    transition: background 0.3s, color 0.3s;
    font-family: "Inter", sans-serif;
  }
  
  body.dark {
    background: #121212;
    color: #f5f5f5;
    font-family: "Times New Roman", serif;

  }
  
  h1 {
    font-size: 5rem;
    margin: 0;
  }
  .spline-container {
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 600px;
  }
  
  .spline-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: auto;
  }
  
  .spline-embed.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  
  .theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin-bottom: 20px;
  }
  
  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider::before {
    transform: translateX(24px);
  }
  
  .frame-parent {
    padding: 20px;
  }
  
  .trung-vo,
  .ministudio-toolkit {
    transition: color 0.3s;
  }
  